PORT=5000
MONGO_URI=mongodb+srv://nazifakhan58_db_user:Dq0ZbIeg199TIJ0r@cluster0.2nhws0i.mongodb.net/digital_heroes?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=replace_this_with_a_long_random_secret
CLIENT_URL=http://localhost:5173
